.product-review-wrapper { max-width: var(--site-max-width-big); padding-left: calc(var(--gap, 8px) * 2); padding-right: calc(var(--gap, 8px) * 2); margin-inline: auto; }
/* .product-review-wrapper:has(.jdgm-rev-widg__reviews:empty) { display: none; } */
.product-review-wrapper .product-review { border-radius: var(--border-radius, 0); overflow: hidden; }
.product-review-wrapper .product-review * { line-height: 1.35; letter-spacing: -1%; }
.product-review-wrapper .jdgm-rev__rating { line-height: 1 !important; }
.product-review-wrapper .jdgm-rev-widg__header { padding: 16px; padding-bottom: 0; }
.product-review-wrapper .jdgm-rev-widg { padding: 0 !important; }
.product-review-wrapper .jdgm-row-stars { justify-content: start!important; padding: 0 !important; }
.product-review-wrapper .jdgm-row-stars .jdgm-rev-widg__summary { width: fit-content!important; margin: 0 !important; }
.product-review-wrapper .product-review.product-review_padding { padding: 16px; background-color: var(--content-bg-color); }
.product-review-wrapper .product-review :is(.jdgm-rev-widg__title, .jdgm-row-stars .jdgm-histogram.jdgm-temp-hidden, .jdgm-row-stars .jdgm-widget-actions-wrapper, .jdgm-verified-checkmark, .jdgm-rev__icon, .jdgm-row-extra, .jdgm-rev__custom-form) { display: none !important; }
.product-review-wrapper .jdgm-rev-widg__summary-stars { display: flex; align-items: center; flex-wrap: wrap; }
.product-review-wrapper .jdgm-rev-widg__summary .jdgm-star { font-size: 20px !important; }
.product-review-wrapper .jdgm-rev-widg__summary-average { order: -1; margin-right: 10px; font-weight: 600; font-size: 24px; line-height: 1.3; letter-spacing: -0.5%; }
.product-review-wrapper .jdgm-rev-widg__summary-text { visibility: unset; margin-top: 10px; opacity: .5; justify-content: start !important; }
.product-review-wrapper .jdgm-row-actions, .jdgm-rev  { border: none !important; }
.product-review-wrapper .jdgm-row-actions { padding: 0 16px !important; }
.product-review-wrapper .jdgm-sort-dropdown { padding-left: 10px; margin-left: -10px; padding-right: 20px; font-size: 16px; font-weight: 600; cursor: pointer; transition: all 400ms ease-in-out; }
.product-review-wrapper .jdgm-sort-dropdown:focus-visible:focus-visible { outline: none !important; box-shadow: none !important; }
.product-review-wrapper .jdgm-rev { padding: 16px !important; }
.product-review-wrapper .jdgm-rev:not(:last-child) { margin-bottom: 10px !important; }
.product-review-wrapper .jdgm-rev .jdgm-star { font-size: 12px; padding-right: 2px !important; }
.product-review-wrapper .jdgm-rev__timestamp { font-size: 14px !important; letter-spacing: -2%; color: var(--light-text-color) !important; }
.product-review-wrapper .jdgm-rev__author { color: var(--text-color) !important; }
.product-review-wrapper .jdgm-rev__buyer-badge.jdgm-rev__buyer-badge { font-size: 14px !important; background: transparent !important; color: var(--light-text-color) !important; padding: 0 !important; }
.product-review-wrapper .jdgm-rev__buyer-badge:before { content: '(Verified Purchase)' !important; }
.product-review-wrapper .jdgm-rev__header { margin-bottom: 8px !important; }
.product-review-wrapper .jdgm-rev__title { margin-bottom: 4px !important; line-height: 1.5 !important; }
.product-review-wrapper .jdgm-rev__body { color: var(--light-text-color) !important; }
.product-review-wrapper .jdgm-rev__pics { margin-top: 8px !important; }
.product-review-wrapper .jdgm-rev__pics .jdgm-rev__pic-link { border-radius: var(--border-radius, 0); overflow: hidden; display: inline-block; vertical-align: text-bottom; }
.product-review-wrapper .jdgm-rev__header .jdgm-row-rating { line-height: 10px !important; }

.product-review-wrapper .product-review .jdgm-rev-widg[data-number-of-reviews="0"] :is(.jdgm-rev-widg__title, .jdgm-row-stars .jdgm-widget-actions-wrapper, .jdgm-verified-checkmark, .jdgm-rev__icon, .jdgm-row-extra, .jdgm-rev__custom-form)  { display: flex !important; }

.jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-histogram.jdgm-histogram, .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-row-search, .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-row-actions, .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-rev-widg__body, .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-paginate { display: none !important; }

.product-review-wrapper .product-review .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-row-stars { justify-content: center!important; padding: 10px !important; gap: 50px; }
.product-review-wrapper .product-review .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-rev-widg__header .jdgm-rev-widg__title { justify-content: center; }

@media (min-width: 1200px) {
    .product-review-wrapper { padding-left: calc(calc(var(--gap, 8px) * 2) + calc(var(--gap, 8px) * 2)); padding-right: calc(calc(var(--gap, 8px) * 2) + calc(var(--gap, 8px) * 2)); }
}
@media (max-width: 1199px) {
    .product-review-wrapper .jdgm-rev-widg__summary-average { font-size: 20px; }
.product-review-wrapper .jdgm-rev-widg__summary .jdgm-star { font-size: 17px !important; }
}
@media (max-width: 899px) {
    .product-review-wrapper .product-review.product-review_padding { padding: 0; }
    .product-review-wrapper .product-review .jdgm-rev-widg[data-number-of-reviews="0"] .jdgm-rev-widg__header .jdgm-rev-widg__title { justify-content: start; }
}
@media (max-width: 480px) {
    .product-review-wrapper .jdgm-rev-widg__summary-average { font-size: 16px; }
    .product-review-wrapper :is(.jdgm-rev-widg__summary-text, .jdgm-sort-dropdown, .jdgm-rev__author, .jdgm-rev__body, .jdgm-rev__timestamp, .jdgm-rev__buyer-badge.jdgm-rev__buyer-badge) { font-size: 12px !important; }
    .product-review-wrapper .jdgm-rev__title { font-size: 13px; }
}